version: '3.8'

services:
  api:
    build: .
    expose:
      - "80"
    volumes:
      - .:/app
    env_file:
      - .env

  nginx:
    image: nginx:1.21.6
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
