services:
  api:
    build: .
    expose:
      - "80"
    volumes:
      - .:/app
    tmpfs:
      - /tmp
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started
      tei_bge_m3:
        condition: service_started
      weaviate:
        condition: service_healthy
    networks:
      - docker_external_knowledge_base
    environment:
      # --- 執行緒限制 (全面覆蓋) ---
      - OMP_NUM_THREADS=1
      - MKL_NUM_THREADS=1
      - OPENBLAS_NUM_THREADS=1      # 新增：針對 OpenBLAS 後端
      - VECLIB_MAXIMUM_THREADS=1    # 新增：針對 Vector 運算
      - NUMEXPR_NUM_THREADS=1       # 新增：針對 NumExpr
      
      # --- 關鍵修復策略 ---
      # 讓執行緒進入被動等待模式，不要佔用 CPU 空轉 (Spinning)
      # 這通常能解決 pthread_setaffinity_np 錯誤
      - OMP_WAIT_POLICY=PASSIVE

  redis:
    image: "redis:7.0.12-alpine"
    restart: on-failure
    volumes:
      - redis_data:/data
    networks:
      - docker_external_knowledge_base
    # logging:
    #   driver: "none"
  nginx:
    image: nginx:1.21.6
    restart: on-failure
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - docker_external_knowledge_base

  tei_bge_m3:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-1.6
    environment:
      - MODEL_ID=BAAI/bge-m3
      # ...
    restart: on-failure
    ports:
      - 40001:80
    volumes:
      - ./tei:/data
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined
    # logging:
    #   driver: "none"
    networks:
      - docker_external_knowledge_base
    
  weaviate:
    image: semitechnologies/weaviate:1.32.16-31de226.amd64
    restart: on-failure
    environment:
      QUERY_DEFAULTS_LIMIT: 100
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"
      CLUSTER_HOSTNAME: 'node1'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/v1/.well-known/ready"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - weaviate_data:/var/lib/weaviate
    env_file:
      - .env
    networks:
      - docker_external_knowledge_base
  weaviate_ui:
    image: naaive/weaviate-ui:v1.0.3
    restart: on-failure
    ports:
      - 47777:7777
    depends_on:
      weaviate:
        condition: service_healthy
    environment:
      - WEAVIATE_URL=http://weaviate:8080
    env_file:
      - .env
    networks:
      - docker_external_knowledge_base
    # logging:
    #   driver: "none"


volumes:
  redis_data:
  weaviate_data:

networks:
  docker_external_knowledge_base:
    driver: bridge
    ipam:
      config:
        - subnet: 172.31.0.0/24
